body
{
	margin: 10px 0 ;
	font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
	background: #dea ;
}
header
{
	height: 300px;
	background: url(../img/epicerie.jpg) no-repeat left top ;
	background-size: cover;
}

a
{
	text-decoration: none ;
}
.navbar li
{
	display:inline-block;
	text-align: center;
	background: green;
	width: 200px;
	margin: auto;

}

.navbar a
{
	line-height: 25px ;
	font-size: 1.2em ;
	letter-spacing: 1.5px ;
	color: #fff ;
	display: block ;
	text-align: center;

}
.navcompte li
{
	margin-top: 5px;
	float : right;
	text-align: center ;
	background: green;

}

.navcompte li a
{
    width: 130px ;
	line-height: 25px ;
	font-size: 1.2em ;
	letter-spacing: 1.5px ;
	color: #fff ;
	display: block ;
	border-right: 2px solid #000 ;
}


section
{
	margin : 10px;
	text-align: left ;
	border: 2px solid #ab4 ;
	background: #fff ;
}
article
{
	padding: 10px;
	background-color : rgba(245, 245, 220, 0.8);
}


footer
{
	font: "Trebuchet MS", helvetica, sans-serif ;
	margin : 10px;
	background-color : #c4d3d8;
	text-align : center;
	color: #000;

}

footer a {
	color: #000 ;
}
.form_elem{
	text-align: center;
}
input{
  width: 250px;
}
label{
  width: 250px;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
#button{
	margin:10px;
	padding:20px;
}
ul{
	list-style-type: none;
}
#parametres_enregistre{
	text-align: center;
}
#repas_nav{
	text-align: center;
}
.nav_action a{
	color:white;
	font-size: 20px;
	background: green;
	padding:20px;
	margin: auto;
	margin-bottom: 10px;
	display:inline-block;
}
.element
{
	display: inline-block;
	width:250px;
	height:250px;
	margin-left:10px;
}
.repas_element{

	padding:20px;
	width:80%;
	margin:10px;
	background-color: grey;
	margin-left: auto;
	margin-right: auto;
}
.cercleVert,.cercleRouge,.cercleOrange {
	display:inline-block;
    width: 15px;
    height: 15px;
    border-radius: 20px;
	margin:0;
	margin-left: 10px;
	margin-right: 20px;
    
}
.cercleVert{
	background: green;
	
}
.cercleRouge{
	background: red;
	
}
.cercleOrange{
	background: orange;
	
}
#barre_de_recherche{
	margin-left:10px;
}